/*-----------------------------------------------------------------------
01. START APP FONTS
-----------------------------------------------------------------------*/

/* cairo-200 - arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/cairo-v9-arabic-200.eot'); /* IE9 Compat Modes */
    src: local('Cairo ExtraLight'), local('Cairo-ExtraLight'),
        url('fonts/cairo-v9-arabic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/cairo-v9-arabic-200.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/cairo-v9-arabic-200.woff') format('woff'), /* Modern Browsers */
        url('fonts/cairo-v9-arabic-200.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/cairo-v9-arabic-200.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-300 - arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/cairo-v9-arabic-300.eot'); /* IE9 Compat Modes */
    src: local('Cairo Light'), local('Cairo-Light'),
        url('fonts/cairo-v9-arabic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/cairo-v9-arabic-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/cairo-v9-arabic-300.woff') format('woff'), /* Modern Browsers */
        url('fonts/cairo-v9-arabic-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/cairo-v9-arabic-300.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-regular - arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/cairo-v9-arabic-regular.eot'); /* IE9 Compat Modes */
    src: local('Cairo Regular'), local('Cairo-Regular'),
        url('fonts/cairo-v9-arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/cairo-v9-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/cairo-v9-arabic-regular.woff') format('woff'), /* Modern Browsers */
        url('fonts/cairo-v9-arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/cairo-v9-arabic-regular.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-600 - arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/cairo-v9-arabic-600.eot'); /* IE9 Compat Modes */
    src: local('Cairo SemiBold'), local('Cairo-SemiBold'),
        url('fonts/cairo-v9-arabic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/cairo-v9-arabic-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/cairo-v9-arabic-600.woff') format('woff'), /* Modern Browsers */
        url('fonts/cairo-v9-arabic-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/cairo-v9-arabic-600.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-700 - arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/cairo-v9-arabic-700.eot'); /* IE9 Compat Modes */
    src: local('Cairo Bold'), local('Cairo-Bold'),
        url('fonts/cairo-v9-arabic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/cairo-v9-arabic-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/cairo-v9-arabic-700.woff') format('woff'), /* Modern Browsers */
        url('fonts/cairo-v9-arabic-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/cairo-v9-arabic-700.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-900 - arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/cairo-v9-arabic-900.eot'); /* IE9 Compat Modes */
    src: local('Cairo Black'), local('Cairo-Black'),
        url('fonts/cairo-v9-arabic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/cairo-v9-arabic-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('fonts/cairo-v9-arabic-900.woff') format('woff'), /* Modern Browsers */
        url('fonts/cairo-v9-arabic-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('fonts/cairo-v9-arabic-900.svg#Cairo') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon/icomoon.eot');
    src:url('fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.woff') format('woff'),
        url('fonts/icomoon/icomoon.ttf') format('truetype'),
        url('fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-----------------------------------------------------------------------
01. END APP FONTS
-----------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body, html {
    height: 100%;
}
/* public inputs */
input {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 2px;
    text-align: center
}
input:hover {
    border: 1px solid #0db379;
    box-shadow: 0.1rem 0.2rem 0.3rem #0db37926;    
}


label {
    margin: 0px;
}


/*-----------------------------------------------------------------------
02. START GENERAL STYLES
-----------------------------------------------------------------------*/

body {
    font-family: 'Cairo', sans-serif;
    background-color: #fcfefd;
    color: #183a56;
    overflow: hidden;
}


*:focus {
    outline: none
}

button:focus{
    outline: none
}

th {
    font-weight: normal;
}



/*----------------------------------------------------------------------
02. END GENERAL STYLES
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
03. START PRELOADER
-----------------------------------------------------------------------*/

.se-pre-con {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    background: url(preloader.png) center no-repeat #fff;
}

/*-----------------------------------------------------------------------
03. END PRELOADER
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
04. START TABS
-----------------------------------------------------------------------*/
ul {
    list-style: none;
    text-decoration: none;
}

.tabs {
    background-color: #183a56;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    width:100%;
    height: 70px;
    z-index:100;
    top:0px;
}

.tabs li a {
    color: white;
    display: block;
    position: relative;
    height: 100%;
    padding: 0px 25px;
    background: #183a56;
    vertical-align: middle;
    line-height: 70px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.tabs li.active a,
.tabs li a:hover {
    color:white;
    text-decoration: none;
    /*background: #17cc8e;*/
    background: linear-gradient(to bottom, rgba(35,215,154,1) 0%, rgba(23,204,142,1) 100%);
}

.tabs-content {
    position: relative;
    z-index: 2;
    top: 70px;
    background: white;
}

.tabs-panel {
    overflow: auto;
    display: none;
    height: calc(100% - 70px); /* this calc to make the scroll bar moves in proper way.*/
}

/* make first tab only with less height -140px the other as default */
.tabs-panel[data-index="0"] {
    height: calc(100% - 140px);
}

.tabs-panel[data-index="3"] {
    height: calc(100% - 140px);
}

.tabs-panel.active {
    display: block;
}


/*-----------------------------------------------------------------------
04. END TABS
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
05. Buttons
-----------------------------------------------------------------------*/

.buttonsRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* settings tab save button - fixed css */
.settings-save-bttn {
    position: fixed;
    bottom: 0px;
    left:0px;
    background-color: white;  
}

.bttn2 {
    width:200px;
    height: 50px;
    position: relative;
    /*background-color: #17cc8e;*/
    color: white;
    margin: 10px;
    background: linear-gradient(to bottom, rgba(26,227,158,1) 0%, rgba(23,204,142,1) 100%);

}

.bttn2:disabled {
    background-color: lightgrey;
    color: white;
}

.btnIcon  {
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
    color: red;
}
.clear-table {
    background: url('./icons/trash.svg') no-repeat;
}
.create-paper {
    background: url('./icons/checkAll.svg') no-repeat;
}
.twiggle-paper {
    background: url('./icons/twiggleArrow.svg') no-repeat;
}
.open-location {
    background: url('./icons/folder.svg') no-repeat;
}
.save-settings {
    background: url('./icons/save.svg') no-repeat;
}


/* select&remove button style */
.icon-plus:before,
.icon-plus:after {
    content: "\e011";
}

.icon-remove:before {
    content: "\e00f";
}

.btn_1.icon-remove:before {
    font-size: 15px;
}

.btn_1:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn_1:before,
.icon-plus:after {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.btn_1:hover {
    color: #fff;
}

.btn_1 {
    border: none;
    cursor: pointer;
    padding: 7.5px 15px;
    display: inline-block;
    font-weight: 700;
    position: relative;
    /*background: #17cc8e;*/
    background: linear-gradient(to bottom, rgba(26,227,158,1) 0%, rgba(23,204,142,1) 100%);
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: .3rem;
    margin: 10px;
}

.btn_1:active {
    /*background: #17cc8e;*/
    background: linear-gradient(to bottom, rgba(26,227,158,1) 0%, rgba(23,204,142,1) 100%);
    top: 2px;
}

.btn_1 span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.btn_1:before {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn_1:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}

.btn_1:before {
    left: 0;
    top: -100%;
}

.btn_1:hover:before {
    top: 0;
}

/*-----------------------------------------------------------------------
end Buttons
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
05. TABLES
-----------------------------------------------------------------------*/

/* center table content verticlly centered */
table.dataTable tbody td, table.dataTable th.dt-center {
    vertical-align: middle;
}

table.dataTable {
    color: #183a56;
}

/* to center the filter. */
.dataTables_wrapper .dataTables_filter {
    width:100%;
    text-align:center;
}

/* Table white Spcee */
.dataTables_wrapper {
    margin-top: 15px;
}

/* search box style */
#full_table_filter {
    display: inline-block; 
    float: none; /* disabled this shit to center the filter.*/
    margin-bottom: 20px;   
}

#full_table img, #emptyTable img {
    max-width: 100%;
    max-height: 100%;
}

.footerContainer {
    border: 1px solid lightgrey;
    padding: none; 
    padding-top: 5px;
    position: fixed;
    height: 70px;
    background-color: white;
    width: 100%;
    bottom:-10px;
}

/* hide sorting icons*/
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}

@media only screen and (max-width:650px){
    .dataTables_length {
        display: none;
    }
}

/*-----------------------------------------------------------------------
05. END TABLES
-----------------------------------------------------------------------*/


/*-----------------------------------------------------------------------
07. START ZOOMING IMG
-----------------------------------------------------------------------*/

.zoomer {
    background: url("back.svg");
    border: 1px solid #dee2e6;
    height: 95%;
    overflow: hidden;
    margin: 10px 10px -50px 10px;
}

/* zoom icons */ 
.openseadragon-container img[alt="Zoom in"] {
    margin: 10px 7px 0 10px !important;
}

.openseadragon-container img[alt="Zoom out"],
.openseadragon-container img[alt="Go home"],
.openseadragon-container img[alt="Toggle full page"] {
    margin: 10px 7px 0 0 !important;
}

/* txt before result */ 
.not_yet {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not_yet h1 {
    font-weight: 600;
    font-size: 30px;
}

/* Result lodaer */
#Tap3_loader_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Tap3_loader {
    height: 70px;
    width: 70px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    border: 5px solid #183a563f;
    border-top: 5px solid #0db379;
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
}

@-webkit-keyframes spinner {	
    to {	
        -webkit-transform: rotateZ(360deg);	
        transform: rotateZ(360deg);	
    }	
}	

@keyframes spinner {	
    to {	
        -webkit-transform: rotateZ(360deg);	
        transform: rotateZ(360deg);	
    }	
}

/*-----------------------------------------------------------------------
07. END ZOOMING IMG
-----------------------------------------------------------------------*/


.about {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2111;
}

.about-btn {
    background: none;
    border: none;
}

.about-btn:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.about-icon {
    height: 30px;
    width: 30px;
    display: block;
}

/* if screens resized too small then hide about icon to aboid overlab with tabs */
@media only screen and (max-width:555px){
    .about {
        display: none;
    }
}

/* Settings */ 

/* div:: herzontial line logged in */

.line {
    width: 100%;
    height: 1px;
    background: lightgrey;
}

/* div:: herzontial line logged out */

/* container logged in */

.container {
    display: -webkit-box;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.grid {
    -webkit-box-flex: 1;
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
}


/* container logged out */

/* TAP 4 */
.form-item__control input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    font-size: 200px;
}

.form-item__control label {
    cursor: pointer;
    text-indent: -9999px;
    height: 40px;
    background: lightgrey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.form-item__control label:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.form-item__control input:checked + label {
    background: linear-gradient(to right, rgba(35,215,154,1) 0%, rgba(23,204,142,1) 100%);
    
}

.form-item__control input:checked + label:after {
    right: calc(100% - 5px);
    transform: translateX(+100%);
}

.form-item__control label:active:after {
    width: 150px;
}

.form-item {
    padding: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-item:hover {
    background: #dee2e6;
}

.form-item__control {
    position: relative;
    width: 40%;
}

.control, input.settingsInput {
    height: 40px;
    text-align: center;
    background: white;
    color: inherit;
    display: block;
    width: 100%;
    padding: 0px;
    border-radius: .3rem;
    border: 1px solid darkgrey;
}
.control:hover, .control:focus {
    /* held for future */
}

.form-item__control input {
    width: 100%;
    height: 40px;
}

.form-item__control span {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    color:white;
    pointer-events: none;
}

.form-item__control input:hover {
    border: 1px solid #0db379;
    box-shadow: 0.1rem 0.2rem 0.3rem #0db37926;
}

input.settingsInput[type="color"] {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: .3rem;
    padding: 0;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}
input.settingsInput[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input.settingsInput[type="color"]::-webkit-color-swatch {
    border: 1px solid darkgrey;
}

.parentCP {
    border-radius: .3rem;
}
/* input:: color picker logged out */

h3 {
    margin: 10px 0 10px;
    text-align:right;

}

select {
    text-align: center;
    text-align-last: center;
}


/* disable text selection*/
* {
    /*user-select: none; [Disabled] */ 
}



/* Images Zoom on table 1: in */

.zoomeffects{
    clear:both;	
}
.zoomeffects .half {
    float: left;
    margin: 1%;
    width: 48%;
}

.zoomEffect{
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}
.zoomEffect:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
    background-color: rgba(35, 35, 25, 0.2);
}

/* Images Zoom on table 1: out */



/* table icons all rows, column 1 */

.dynamic_lamp{        
    background-color: lightgreen;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 5px;
    opacity: 0.8;
}
.static_lamp{        
    background-color: yellow;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 5px;
    opacity: 0.5;
}
/*-----------------------------------*/

/* data-title styling - in  */
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    right: 0%;
    padding: 4px 4px 4px 8px;
    color: #222;
    white-space: nowrap; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    -moz-box-shadow: 0px 0px 4px #222;  
    -webkit-box-shadow: 0px 0px 4px #222;  
    box-shadow: 0px 0px 4px #222;  
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
/* data-title styling - out */