/* cairo-regular - arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/cairo-v10-arabic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/cairo-v10-arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/cairo-v10-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/cairo-v10-arabic-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/cairo-v10-arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/cairo-v10-arabic-regular.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-900 - arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/cairo-v10-arabic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/cairo-v10-arabic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/cairo-v10-arabic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/cairo-v10-arabic-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/cairo-v10-arabic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/cairo-v10-arabic-700.svg#Cairo') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}