
/* imports */
@import 'preloader.css';
@import 'mathar.icon.css';

/* variables */
:root {
    --color1: 23, 204, 142; /* sort of lightgreen main color */
    --color2: 24, 58, 86;   /* sort of navy main color */
    --gradient1: linear-gradient(to bottom, rgba(35, 236, 167, 1) 0%, rgba(var(--color1), 1) 100%); /* gradient of color1 */
    --gradient2: linear-gradient(to bottom, rgba(34, 77, 112, 1) 0%, rgba(var(--color2), 1) 100%); /* gradient of color2 */
    --tabs-hover-color-and-underline: #3f6af4;
    --border-radius: .6rem;
    --light-shadow: 1px 1px 10px 0.1px rgba(0,0,0,0.2);
    --dark-shadow: 5px 5px 20px 0.5px rgba(0,0,0,0.3);
}

/*-----------------------------------------------------------------------
02. START GENERAL STYLES
-----------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

* {
    /*user-select: none; [Disabled] */ 
}

body, html {
    height: 100%;
}

/* inputs */
input {
    border: 1px solid lightgrey;
    border-radius: var(--border-radius);
    padding: 2px;
    text-align: center;
    width: 12vw;
    min-width: 100px;
}

form label {
    padding-left: 5px;
}

/* border's transition color and drop shadow */
input:hover, 
#table1_filter label:hover, /* table */
select:hover
{
    border: 1px solid rgba(var(--color1));
    box-shadow: var(--light-shadow);  
    transition:all .2s ease-in-out;
}

label {
    margin: 0px;
}

p {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.5;
    text-align: center;
}

body {
    font-family: 'Cairo';
    background-color: #fcfefd;
    color: #183a56;
    overflow: hidden;
}

*:focus {
    outline: none
}

button:focus{
    outline: none
}

th {
    font-weight: normal;
}

/*----------------------------------------------------------------------
02. END GENERAL STYLES
-----------------------------------------------------------------------*/


/*-----------------------------------------------------------------------
04. START TABS
-----------------------------------------------------------------------*/
ul {
    list-style: none;
    text-decoration: none;
}

.tabs {
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: center;
    background: var(--gradient2);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
    z-index: 10;

}

.tabs ul {
    background: var(--gradient2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    width: fit-content;
    height: 100%;
    top:0px;
    padding:0;
    margin:0;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
    z-index: 10;
}

.tabs li {
    cursor: pointer;
    color: white;
    display: block;
    position: relative;
    height: 100%;
    padding: 0px 25px;
    background: var(--gradient2);
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

}

.tabs li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.tabs li:before {
    content: '';
    position: absolute;
    left:0;
    width:100%;
    height:100%;
    color:white;
    background: var(--gradient1);
    opacity: 0;
    transition: opacity 0.4s;
}

.tabs li.active:before {
    opacity: 1;
    transition: opacity 0.2s;
}

.tabs li h5 {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.tabs li:hover {
    transition: all .2s ease-in-out; 
    color: var(--tabs-hover-color-and-underline);
}

.tabs li:after {
    content:'';
    position: absolute;
    width: 0;
    height:3px;
    left:50%;
    bottom: 0;
    background-color: var(--tabs-hover-color-and-underline);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.tabs li:hover:after,
.tabs li.active:after {
    width: 100%;
    left:0;
}

.tabs-content {
    position: relative;
    z-index: 2;
    top: 70px;
    background: white;
}

.tabs-panel {
    overflow: auto;
    display: none;
    height: calc(100% - 70px); /* this calc to make the scroll bar moves in proper way.*/
}

/* make first tab only with less height -140px the other as default */
.tabs-panel[data-index="0"] {
    height: calc(100% - 140px);
}

.tabs-panel[data-index="3"] {
    height: calc(100% - 70px);
    background: url("../icons/bg2.png");
}

.tabs-panel.active {
    display: block;
}

/*-----------------------------------------------------------------------
04. END TABS
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
05. Buttons
-----------------------------------------------------------------------*/

.buttonsRow {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab2-bttns {
    display: inline-block;
    width: fit-content; 
    position: fixed;
    z-index: 10;
    top: 80px;
    left:50%;
    transform: translate(-50%);
}

/* table */
.table2Container {
    position: relative;
    top: 66px;
    z-index: 9;
}

/* settings tab save button - fixed css */
.settings-save-bttn {
    position: fixed;
    bottom: 0px;
    left:50%;
    transform: translate(-50%);
    background: none;  
}

.buttonsRow-placeholder {
    height: 70px;
    width: 100%;
}

.bttn2 {
    width:200px;
    height: 50px;
    position: relative;
    color: white;
    margin: 10px;
    background: var(--gradient1);
}

.bttn2 svg {
    float:left;
}

.bttn2:disabled {
    background: lightgrey;
}

/* select&remove button style */
.icon-plus:before,
.icon-plus:after {
    content: "\e011";
}

.icon-remove:before {
    content: "\e00f";
}

.btn_1.icon-remove:before {
    font-size: 15px;
}

.btn_1:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn_1:before,
.icon-plus:after {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}



.btn_1 {
    border: none;
    cursor: pointer;
    padding: 7.5px 15px;
    display: inline-block;
    font-weight: 700;
    position: relative;
    background: var(--gradient1);
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: .3rem;
    margin: 10px;
}

.btn_1:active{
    top: 2px;
}

.btn_1 span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.btn_1:before {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn_1:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}

.btn_1:before {
    left: 0;
    top: -100%;
}

.btn_1:hover:before {
    top: 0;
}

/*-----------------------------------------------------------------------
end Buttons
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
05. TABLES
-----------------------------------------------------------------------*/

/* center table content verticlly centered */
table.dataTable tbody td, table.dataTable th.dt-center {
    vertical-align: middle;
}

table.dataTable {
    color: #183a56;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: rgba(249,250,251);
}

/* to center the filter. */
.dataTables_wrapper .dataTables_filter {
    width:100%;
    text-align:center;
    padding: 2px;
}

/* Table white Spcee */
.dataTables_wrapper {
    margin-top: 20px;
}

/* search box style */
#table1_filter {
    padding: 0;
}

#table1_filter label {
    position: relative;
    border-radius: 92px;
    width: 361px;
    height: 46px;
    background: rgba(22,24,35,0.06);
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;  
}

#table1_length label {
    margin-left: 10px;
    width: 200px;
    display: flex;
    align-items: center;
}

#table1_length label select {
    margin: 5px;
}

#table1_filter input {
    font-size: 20px; 
    position: relative;
    border: none;
    top:50%;
    transform: translate(0, -50%);
    width: 292px;
    line-height: 47px;
    direction: rtl;
}

#table1_filter input:hover {
    border: none;
    box-shadow: none;
}

.search-icon:before {
    content: '';
    width: 1px;
    height: 28px;
    background-color: rgba(22,24,35,0.12);
    display: inline-block;
    position: absolute;
    margin: 0 -15px;
}
.search-icon {
    width:24px;
    height:24px;
    display: inline-block;
    position: absolute;
    right:20px;
    top:50%;
    transform: translate(0,-50%);
}

#table1 img, #table2 img {
    max-width: 100%;
    max-height: 100%;
}

.footerContainer {
    border: 1px solid lightgrey;
    padding: none; 
    padding-top: 5px;
    position: fixed;
    height: 70px;
    background-color: white;
    width: 100%;
    bottom:-10px;
}

/* hide sorting icons*/
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}

@media only screen and (max-width:650px){
    .dataTables_length {
        display: none;
    }
}

/*-----------------------------------------------------------------------
05. END TABLES
-----------------------------------------------------------------------*/


/*-----------------------------------------------------------------------
07. START ZOOMING IMG
-----------------------------------------------------------------------*/

.zoomer {
    background: url("../icons/bg1.png");
    border: 1px solid #dee2e6;
    height: 95%;
    overflow: hidden;
    margin: 10px 10px -50px 10px;
    transform: all .3s ease-in-out;
}

/* zoom icons */ 
.openseadragon-container img[alt="Zoom in"] {
    margin: 10px 7px 0 10px !important;
}

.openseadragon-container img[alt="Zoom out"],
.openseadragon-container img[alt="Go home"],
.openseadragon-container img[alt="Toggle full page"] {
    margin: 10px 7px 0 0 !important;
}

/* txt before result */ 
.notYet {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notYet button {
    background: none;
    border: none;
    color: rgba(var(--color2));
    text-decoration: underline;
}

.notYet button:hover {
    color: rgba(var(--color1));
    transition:color .2s ease-in-out;
}

.tap3_instructions {
    position: ab;
    text-align: right;
    display: none;
    list-style-type: decimal;
    margin:10px 0 0 0;
}

.tap3_instructions li {
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: var(--light-shadow); 
    border-radius: var(--border-radius);
    padding: 5px;
    margin: 5px 0 0 0;
}

.tap3_instructions li:hover {
    border: 1px solid rgba(var(--color1));
    transition: border .2s ease-in-out;
}

/* Result lodaer */
#resultLoaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 0px;
    border-radius: 50%;
    border: 7px solid #fff;
    border-color: rgba(var(--color1)) transparent rgba(var(--color1)) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*-----------------------------------------------------------------------
07. END ZOOMING IMG
-----------------------------------------------------------------------*/


.about {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2111;
}

.about-btn {
    background: none;
    border: none;
    transition-duration: 0.2s;
}

.about-btn:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.about-icon {
    height: 30px;
    width: 30px;
    display: block;
}

/* if screens resized too small then hide about icon to aboid overlab with tabs */
@media only screen and (max-width:650px){
    .about {
        display: none;
    }
}

/* Settings */ 

/* div:: herzontial line logged in */

.line {
    border-bottom: 1px solid lightgrey;
    height: 1px;
    margin:0 10px;
}

/* div:: herzontial line logged out */

/* TAP 4 */

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;
    margin:0;
    align-items: center;
    justify-content: center;
}

.form-item__label {
    margin-left: 30px;
}

.form-item__control input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    font-size: 200px;
}

.form-item__control label {
    cursor: pointer;
    height: 40px;
    background: linear-gradient(to bottom, rgba(211,211,211,1) 0%, rgba(187,185,185,1) 100%);
    display: block;
    border-radius: 100px;
    position: relative;
}

.form-item__control label:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 90px;
    transition:all 0.3s ease-in-out;
}

.form-item__control input:checked + label {
    background: var(--gradient1);

}

.form-item__control input:checked + label:after {
    right: calc(100% - 5px);
    transform: translateX(100%);
}

.form-item__control label:active:after {
    width: 150px;
}

.form-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.form-item:hover {
    background: #dee2e6;
    border-radius: var(--border-radius);
}

.form-item__control {
    position: relative;
    width: 200px;
}

.form-item__control input {
    width: 100%;
    height: 40px;
}

.form-item__control span {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    color:white;
    pointer-events: none;
    text-align: center;
    overflow: hidden;
}

.form-item__control input:hover {
    border: 1px solid rgba(var(--color1));
    box-shadow: 0.1rem 0.2rem 0.3rem lightgrey;
    transition: border .1s ease-in-out;
}

input[type="color"] {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: var(--border-radius);
    padding: 0;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 1px solid darkgrey;
}

.inputColorContainer {
    border-radius: var(--border-radius);
}

.inputColorContainer:after { /* gradient layer aboove input color (pallete style).*/
    content: '';
    position: absolute;
    pointer-events: none;
    width:100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0) 100%);
    border-radius: var(--border-radius);
    left:0;
    top:0;
}
/* input:: color picker logged out */

/* Images Zoom on table 1: in */

.zoomeffects{
    clear:both;	
}
.zoomeffects .half {
    float: left;
    margin: 1%;
    width: 48%;
}

.zoomEffect{
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}
.zoomEffect:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.4);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.4);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.4);
    transition: all 200ms ease-in;
    transform: scale(1.4);
    background-color: rgba(35, 35, 25, 0.2);
}

/* Images Zoom on table 1: out */



/* table icons all rows, column 1 */

.dynamic_lamp{        
    background-color: lightgreen;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 40%;
    opacity: 0.8;
}
.static_lamp{        
    background-color: yellow;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 40%;
    opacity: 0.5;
}
/*-----------------------------------*/

/* data-title styling - in  */
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    right: 0%;
    padding: 4px 4px 4px 8px;
    color: #222;
    white-space: nowrap; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    -moz-box-shadow: 0px 0px 4px #222;  
    -webkit-box-shadow: 0px 0px 4px #222;  
    box-shadow: 0px 0px 4px #222;  
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
/* data-title styling - out */

select {
    height: 40px;
    text-align: center;
    text-align-last: center;
    background-color: white;
    color: inherit;
    display: block;
    width: 100%;
    padding: 0px;
    border-radius: var(--border-radius);
    border: 1px solid darkgrey;
}


/* fieldset */
FIELDSET {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: var(--border-radius);
    box-shadow: var(--light-shadow);
    background-color: white;
}

FIELDSET:hover {
    border: 1px solid #17cc8e;
    box-shadow: var(--dark-shadow);
    transition-duration: .3s;
}

LEGEND{
    text-align: right;
    width: fit-content;
    padding: 0 5px 0 5px;    
}

/* sweatalert2 - 
-patched close button ouline border on focus.
*/
.swal2-close:focus {
    box-shadow: none !important;
}

/* swal taoster styling */
.swal2-bottom-start {
    height: 100px;
}

.swal2-popup.swal2-toast {
    border: 1px solid lightgrey;  
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75)!important;
}

/* tippy - center text */
.tippy-content {
    text-align: center;
}